/* All forms */

.content .products table, .content .products h1{ 
	margin-top: 10px;
}

.content .products h1{ 
	width:250px;
	padding: 6px;
	color: #FFFFFF;
	border-radius: 0px 8px 0px 8px;
	background-color: #0784A8;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.content .products form hr{
	border: solid 1px #0784A8;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

.content .products .nav a{
	padding: 3px 10px;
	font-weight:bold;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #FB5707;
	font-size:9pt;
	font-family: Georgia;
	border-radius: 3px 3px 3px 3px;
	text-decoration: none;
}

.content .products .nav{
	margin-top:12px;
}

.content .products .nav a:hover{
	background-color: #952802;
	border: solid 1px #FFF;
	border-radius: 3px 3px 3px 3px;
}


/* processs main form */

.field_proprietary, .field_vehicle{
	width:338px;
	margin-bottom: 8px;
}

.field_proprietary span .lnk, .field_vehicle span .lnk{
	position: absolute;
}

.lnk .btn{
	margin: -28px 0px;
	padding: 4px 10px 4px 10px;
	font-weight:bold;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #FB5707;
	font-size:11pt;
	float:right;
	font-family: Georgia;
	border-radius: 3px 3px 3px 3px;
	text-decoration: none;
	text-align: center;
}

form .field select{
    height: 25px;
    border: 1px solid #8496ba;
	margin-bottom:-6px;
}

form > .field textarea{
    height: 75px;
    width: 550px;
    border: 1px solid #8496ba;
	margin-bottom:-6px;
}

form > .field label, .field2 label {
    min-width: 85px;
	float:left;
	padding: 4px 0px;
}

.field2 input{
    height: 20px;
    width: 300px;
    border: 1px solid #8496ba;
	margin-top:-10px;
	margin-bottom:10px;
}

.actions input{
	font-weight:bold;
	padding:4px 4px;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #FB5707;
	font-size:9pt;
	float:right;
	font-family: Georgia;
	border-radius: 3px 3px 3px 3px;
}

.actions input:hover{
	background-color: #952802;
	border: solid 1px #FFF;
	border-radius: 3px 3px 3px 3px;
}

.edit_menu{
	width:310px;
}

.edit_menu ul li{
	display: inline;
}

.edit_menu ul li a{
	padding: 4px 4px;
	font-weight:bold;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #FB5707;
	font-size:9pt;
	font-family: Georgia;
	border-radius: 3px 3px 3px 3px;
	text-decoration: none;
}

.edit_menu ul li a:hover{
	background-color: #952802;
	border: solid 1px #FFF;
	border-radius: 3px 3px 3px 3px;
	padding: 4px 4px;
}

.process_menu{
	margin:5px 0px 10px 0px;
}

.process_menu ul li{
	display:inline;
}

.process_menu ul li a:hover {
  	background-color: #f1b49f;
	color: #000;
}

.process_menu li a:link, #init li a:visited  {
	padding: 6px 10px;
	background-color: #e8ecee;
	border-radius: 0px 8px 0px 8px;
	border: 1px solid #F97E1A;
	text-decoration: none;
	font-weight:bold;
	color: #0784A8;
}

/* proprietary form */

.field_proprietary .field{
	width:650px;
	margin-top:8px;
}

.field_proprietary .field > div input, .field_proprietary .field b > div input{
	height: 20px;
    border: 1px solid #8496ba;
	margin-top: -8px;
	margin-bottom: 8px;
}

.field_proprietary .field > div label, .field_proprietary .field b > div label{
	min-width: 85px;
	float:left;
	padding: 4px 0px;
}

.field_proprietary .field b > div input{
	width: 150px;
}

.field_proprietary .field > div select{
	height: 28px;
    border: 1px solid #8496ba;
	margin-bottom: 12px;
	margin-top:-6px;
}

.field_proprietary .field > div textarea{
	height: 75px;
    width: 400px;
    border: 1px solid #8496ba;
	margin-top:-6px;
}

/* Contatcs form */
.field .contacts {
	margin-top:12px;
}

.field .contacts .country_code input{
	width:40px;
}

.field .contacts .prefix_code input{
	width:30px;
}

.field .contacts .number input{
	width:90px;
}

/* vehicle */

.field_vehicle .field{
	width:650px;
	margin-top:8px;
}

.field_vehicle .field  > div input, .field_vehicle .field b > div input, .field .hypothec input{
	height: 20px;
	width: 220px;
    border: 1px solid #8496ba;
	margin-top: -8px;
	margin-bottom:8px;
}

.field_vehicle .field > div label, .field_vehicle .field b> div label{
	min-width: 122px;
	float:left;
	padding: 4px 0px;
}

.field_vehicle .field b > div select{
	height: 28px;
	width: 150px;
    border: 1px solid #8496ba;
	margin-bottom: 10px;
	margin-top:-6px;
}

.field_vehicle .field b {
	float: left;
	margin: -124px 360px;
	width:360px;
}

/* Main Register */
.field .main_register > div select{
	width:200px;
	margin-bottom:5px;
}

.field .main_register  label{
	min-width: 120px;
}

/* Sale Register */
.field .sale_register div input{
	height: 20px;
	width: 150px;
    border: 1px solid #8496ba;
	margin-bottom:5px;
}

.field .sale_register div select{
	margin-bottom:5px;
}

/* Hypothec*/

.field .hypothec, .field .proprietary_register, .field .sale_register, .field .main_register {
	margin-top: 20px;
}
.field .hypothec input{
	height: 20px;
	width: 200px;
    border: 1px solid #8496ba;
	margin-top: -8px;
	margin-bottom:8px;
}

.field .hypothec label{
	min-width: 120px;
	float:left;
	padding: 4px 0px;
}

/*Proprietary Register*/

.field .proprietary_register select{
	margin-bottom:3px;
}

.field .proprietary_register input{
	height: 20px;
	width: 200px;
    border: 1px solid #8496ba;
	margin-bottom:3px;
}

.field .proprietary_register label{
	min-width: 120px;
	float:left;
	padding: 4px 0px;
}

.inputs div label{
	float:left;
	width:100px;
	text-align:right;
	margin: 8px 0px;
}

.inputs div input{
	height:25px;
	width:200px;
	margin-bottom:5px;
	margin-left:5px;
	border: solid 1px #FB5707;
	border-radius: 3px 3px 3px 3px;
}

.actions #user_submit{
	margin-right:90px;
	width:100px;
}

