/* All forms */

.mainReg fieldset { 
	border: 1px solid #F97E1A;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
	width:750px;
	background-color: #F9F1EA;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.mainReg hr{
	border: solid 1px #0784A8;
	margin: 5px 5px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

/* Books  */
.book label{ 
	float: left;
	width:24%;
	margin: 7px 0px;
}

.book .field input { 
	height: 26px;
	width: 260px;
	border: solid 1px #0784A8;
	#border-radius: 4px 4px 4px 4px;
}

.book form{
	margin-top: 20px;
}

.book .actions input{
	width:125px;
	height: 30px;
	border-radius: 1px 1px 1px 1px;
	font-weight:bold;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #FB5707;
	font-size:100%;
	float:right;
}

.book .actions input:hover{
	background-color: #952802;
	border: solid 1px #952802;
}

/* Main Register */

.mainReg #part1 label, .mainReg #part2 label{ 
	float: left;
	width: 12%;
	margin: 2px 5px;
}

.mainReg #part2 label{ 
	float: left;
	width: 120px;
}
.mainReg #part2{
	position: absolute;
	margin-left: 330px;
	margin-top: -203px;
}

.mainReg .field2 input{ 
	height: 20px;
	width: 200px;
	margin-bottom: 5px;
	border: solid 1px #8496ba;
}


.mainReg .field textarea { 
	height: 60px;
	width: 410px;
	border: solid 1px #8496ba;
	margin-bottom: -6px;
}

.mainReg .field select{ 
	height: 28px;
	width: 200px;
	border: solid 1px #8496ba;
}

.mainReg form{
	margin-top: 20px;
}

.mainReg .actions input{
	width:140px;
	height: 30px;
	font-weight:bold;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #FB5707;
	font-size:9pt;
	float:right;
	font-family: verdana;
	margin-bottom: 5px;
	margin-right: 5px;
}

.mainReg .field a{
	width:30px;	
	height: 26px;
	margin:5px 0px;
	#border-radius: 2px 2px 2px 2px;
	font-weight:bold;
	background-color: #FB5707;
	color: #FFFFFF;
	position: absolute;
	border: solid 1px #FB5707;
	font: 12pt/170% Verdana;
	text-decoration:none;
	text-align:center;
	clear:none;
}

.mainReg .field .lnk{
	margin-left: 478px;
	margin-top:-36px;
	position:absolute;
}

.mainReg .actions input:hover{
	background-color: #952802;
	border: solid 1px #FFF;
	border-radius: 3px 3px 3px 3px;
	padding: 0px 3px;
}

.mainReg .field a:hover{
	background-color: #952802;
	border: solid 1px #FFF;
	#border-radius: 3px 3px 3px 3px;
	#padding: 0px 12px;
}

/* Proprietary*/

.proprietary label{ 
	float: left;
	width: 24%;
	margin: 4px 0px;
}

.proprietary .field textarea { 
	height: 60px;
	width: 410px;
	border: solid 1px #8496ba;
	margin-bottom: -10px;
}

.proprietary .field input{ 
	height: 24px;
	width: 300px;
	margin-bottom: -5px;
	border: solid 1px #8496ba;
}

.proprietary form{
	margin-top: 20px;
}

.proprietary .actions input{
	width:140px;
	height: 30px;
	font-weight:bold;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #FB5707;
	font-size:9pt;
	float:right;
}

.proprietary .field select{ 
	height: 26px;
	#width: 100px;
	border: solid 1px #8496ba;
}

.proprietary .actions input:hover{
	background-color: #952802;
	border: solid 1px #FFF;
	border-radius: 3px 3px 3px 3px;
	padding: 0px 3px;
}

