body, html{
	margin: 0;
	padding:0;
}

body,ul, li, a, table, label, p, input, tr, td, span, textarea{
 	font:10pt/170% Georgia, "Times New Roman", Times, serif;
}

#head {
  	height: 70px;
	width:950px;
	background-color: #0784A8;
	border-bottom: 2px solid #FB5707;
	text-align: right;
	padding-right: 20px;
	margin:3em auto 0em auto;
	border-radius: 0px 0px 5px 5px;
	border-top:5px solid #FB5707;
	clear:none;
}

#head label{
	float: left;
	color: #FFF;
	font-size: 18pt;
	margin: 0px 10px;
	font-weight: bold;
}
#conteiner{
	width:964px;
	margin: 3em auto 0em auto;
}
#navigation{
	width:250px;
	position:absolute;
	margin: -48px;
	padding-left: 4px;
	padding-top: 4px;
	clear: none;
}

#navigation ul{
	list-style:none;
}

#navigation li {
  margin:2px;
}

#navigation ul li a:hover {
  	background-color: #FB5707;
	color: #FFFFFF;
}

#navigation li a:link, #navigation li a:visited  {
 	#font-size: 10pt;
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	border-left: 15px solid #FB5707;
	border-right: 1px solid #FB5707;
	background-color: #0784A8;
	color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	text-decoration: none;
	box-shadow: 0 2px 1px rgba(10, 0.3, 0.3, 0.3);
	font-weight:bold;
}

#content{
	margin-left:16.5em;
	margin-right:2em;
	#font-family: Georgia, "Times New Roman", Times, serif;
}