body,ul, li, a, table, label, p, tr, td, span, textarea{
 	font: 11px/1.5 "Lucida Grande", Georgia, "Times New Roman", Times, serif;
}

*{
	margin: 0;
	padding: 0;
}

#head {
  	height: 70px;
	width:900px;
	background-color: #0784A8;
	border-bottom: 2px solid #FB5707;
	margin: 20px auto 10px auto;
	border-radius: 0px 25px 0px 25px;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	border-top: 5px solid #FB5707;
}

#head label{
	float: left;
	color: #FFF;
	font-size: 18pt;
	margin: 15px 10px;
	padding: 0;
	font-weight: bold;
}

#title {
  	height: 25px;
	width:705px;
	background-color: #0784A8;
	border-left: 2px solid #FB5707;
	border-right: 2px solid #FB5707;
	border-radius: 0px 10px 0px 10px;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

#title h1 {
  	padding: 2px 0 5px 5px;
	font-size: 14px;
	color: #FFF;
}


#conteiner{
	width:903px;
	margin: auto;

}

#navigation{
	width:180px;
	position:absolute;
	margin: -2px 0px;
}

#navigation ul{
	list-style:none;
}

#navigation li {
  margin:2px;
}

#navigation ul li a:hover {
  	background-color: #FB5707;
	color: #FFFFFF;
}

#navigation li a:link, #navigation li a:visited  {
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	border-left: 10px solid #FB5707;
	border-right: 2px solid #FB5707;
	background-color: #0784A8;
	color: #FFFFFF;
	border-radius: 0px 10px 0px 10px;
	text-decoration: none;
	box-shadow: 0 2px 1px rgba(10, 0.3, 0.3, 0.3);
	font-weight:bold;
	overflow: hidden;
}

#content{
	margin-left: 192px;
}