body,ul, li, a, table, label, p, tr, td, span, textarea, input{
 	font: 11px "Lucida Grande", Georgia, "Times New Roman", Times, serif;
}

.head {
  	height: 70px;
	width:70%;
	background-color: #0784A8;
	border-bottom: 2px solid #FB5707;
	margin: 20px auto 10px auto;
	border-radius: 0px 25px 0px 25px;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	border-top: 5px solid #FB5707;
}

.head .lbs{
	float: left;
	color: #FFF;
	font-size: 18pt;
	margin: 15px 10px;
	padding: 0;
	font-weight: bold;
}

.footer {
	width: 75.7%;
	margin-left: 21.7%;
	margin-top: 1px;
	padding: 10px 0px 10px 20px;
	border: 1px solid #F97E1A;
	border-radius: 0px 0px 0px 15px;
	text-align: center;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	font-family: 'Times New Roman';
	font-size: 9pt;
	font-style: italic;
}


.conteiner{
	width:70%;
	margin: auto;
}

.navigation{
	width:14.5%;
	position:absolute;
	margin: -2px 0px;
}

.navigation .orderedList{
	list-style:none;
}

.navigation li {
  margin:2px;
}

.navigation .orderedList li a:hover {
  	background-color: #FB5707;
	color: #FFFFFF;
}

.navigation li a:link, .navigation li a:visited  {
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	border-left: 10px solid #FB5707;
	border-right: 2px solid #FB5707;
	background-color: #0784A8;
	color: #FFFFFF;
	border-radius: 0px 10px 0px 10px;
	text-decoration: none;
	box-shadow: 0 2px 1px rgba(10, 0.3, 0.3, 0.3);
	font-weight:bold;
	overflow: hidden;
}

.content{
	margin-left: 21.7%;
}

.content{ 
	border: 1px solid #F97E1A;
	border-radius: 0px 15px 0px 0px;
	margin-top: 15px;
	width:78%;
	min-height:545px;
	background-color: #F9F1EA;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.content .products { 
	margin: 8px 10px;
	margin-bottom: 20px;
}

.login_content {
  width: 400px;
  margin: 12% auto;  
}

.top {
  margin-bottom:10px;
  padding:0;
}

.top img{
  margin-left:38%;
}

.top p{
	text-align:center;
	margin-left:18px;
	font-size:12pt;
	#font-weight:bold;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.login {
  width: 400px;
  height: 120px;
  padding: 20px 0px 10px 20px;
  border: 2px solid #FB5707;
  border-radius: 5px 5px 5px 5px;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.login p{
	color:red;
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
}

.logout a{
	font-weight:bold;
	padding:5px 15px;
	margin-right:8px;
	margin-top:15px;
	background-color: #FB5707;
	color: #FFFFFF;
	border: solid 1px #eee;
	font-size:9pt;
	float:right;
	font-family: Georgia;
	border-radius: 3px 3px 3px 3px;
	text-decoration: none;
}

.logout a:hover{
	background-color: #952802;
	border: solid 1px #952802;
	border-radius: 3px 3px 3px 3px;
}

table{ 
	border-collapse: collapse;
	margin-left:1px;
	margin-bottom:15px;
	cursor:pointer;
}

table th{ 
	border: 1px solid #BDC2C3;
	padding:7px;
}

table td{ 
	border: 1px solid #BDC2C3;
	padding:7px;
}

table th{
	background:#C4D3D7;
}

table td:first-child:hover{
  background:#C4D3D7;
}

table tr:hover .links{
  border: none; 
  margin: -2px -2px; 
  float:left;
  padding: 5px;
}

.links{
  float: left;
  margin: -920px;
  height: 12px;
}

.userDetails {
	padding: 15px 2%;
	float:right;
	color: #eee;
}

.userDetails b{
	font-weight:bold;
}

.userDetails label{
	font-style:italic;
}

.madeinmoz{
	margin-top:10px;
	margin-left:30%;
}