body,ul, li, a, table, label, p, tr, td, span, textarea{
 	font: 11px/1.5 "Lucida Grande", Georgia, "Times New Roman", Times, serif;
}

.head {
  	height: 70px;
	width:70%;
	background-color: #0784A8;
	border-bottom: 2px solid #FB5707;
	margin: 20px auto 10px auto;
	border-radius: 0px 25px 0px 25px;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	border-top: 5px solid #FB5707;
}

.head .lbs{
	float: left;
	color: #FFF;
	font-size: 18pt;
	margin: 15px 10px;
	padding: 0;
	font-weight: bold;
}


.conteiner{
	width:70%;
	margin: auto;

}

.navigation{
	width:14.5%;
	position:absolute;
	margin: -2px 0px;
}

.navigation .orderedList{
	list-style:none;
}

.navigation li {
  margin:2px;
}

.navigation .orderedList li a:hover {
  	background-color: #FB5707;
	color: #FFFFFF;
}

.navigation li a:link, .navigation li a:visited  {
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	border-left: 10px solid #FB5707;
	border-right: 2px solid #FB5707;
	background-color: #0784A8;
	color: #FFFFFF;
	border-radius: 0px 10px 0px 10px;
	text-decoration: none;
	box-shadow: 0 2px 1px rgba(10, 0.3, 0.3, 0.3);
	font-weight:bold;
	overflow: hidden;
}

.content{
<<<<<<< HEAD
	margin-left: 21.7%;
=======
	margin-left: 22%;
>>>>>>> b420e4e2f6d35f5f7274d5ef388620d48901a97c
}

.content{ 
	border: 1px solid #F97E1A;
	border-radius: 0px 15px 0px 25px;
	margin-top: 15px;
	width:78%;
	min-height:550px;
	background-color: #F9F1EA;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.content .products { 
	margin: 8px 10px;
	margin-bottom: 20px;
}
