<% if @proprietary.valid? %>
 $('#pty h2, #pty div fieldset').fadeOut();
<% else %>
 $('#pty').html('<h1> New Proprietary </h1>');
 $('#pty').append("<%= escape_javascript(render(:partial =>'form'))%>");
<% end %>