<p> bem vindo ao Registo Automovel, Orgão com direito unico de emitir títulos de propredades em moçambique </p>

<p> A instituição conta com <%=@process_registers.count%>  processo(s) no estado aberto </p>
<p> A instituição conta com <%=@good_process.count%>  processo(s) analizado(s) </p>
<p> A instituição conta com <%=@aproved_process.count%>  processo(s) analizado(s) </p>
