<div class="field">
 <div class="main_register">	
  <%= f.input :vehicle_provenience, :collection => MainRegister::PROVENIENCE, :prompt => "Seleccione"  %>
  <div class='nav'><%= link_to_remove_fields t(:remove), f %></div>
 </div>
</div>

