<div class="field">
	<div class='proprietary_register'>	
		<%= f.input :aquire_date, :as => :date  %>
	  	<%= f.input :register_dute %>
	  	<%= f.input :value, :input_html =>{:style => "width:100px"} %>
	</div>
  	<div class='nav'><%= link_to_remove_fields t(:remove), f %></div>
</div>
